extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p Raices del Ñuble fue creado para ayudarte a encontrar todo lo relacionado al turismo en la zona.
      | <br /><br />
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed
 lorem ac nisi dignissim accumsan.

